[Unit]
Description=Make sure cgroups exist for domjudge judgedaemon

[Service]
Type=oneshot
ExecStart=/opt/domjudge-nwerc2019/bin/create_cgroups
RemainAfterExit=true
