[Desktop Entry]
Name=taillog
Type=Application
Exec=gnome-terminal --window --full-screen -e 'bash -c "tail -f /opt/domjudge-nwerc2019/output/log/*-0.log"'
